body > div, h1 {
    width: 1200px;
    margin: 0 auto;
}

.social {
    display: flex;
}


.social-button {
    width: 240px;
    border: 1px solid;
    margin: 30px 15px;
    text-align: center;
}

.social-button > div {
    padding: 20px 0;
}
.social-info {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
