body > div, h1 {
    width: 1200px;
    margin: 0 auto;
}

.social {
    display: flex;
}

.social-button {
    width: 240px;
    border: 1px solid;
    margin: 30px 15px;
    text-align: center;
}

.social-button > div {
    padding: 20px 0;
}
.social-info {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.info-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.info-header > h2, p {
    margin: 30px 10px;
}

.info-description {
    text-align: center;
}
